@charset "utf-8";
/* CSS Document */
.header,.bodymain { width:90%; margin:auto; background: #fff; min-width:1130px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1130?"1130px":"");}


/***** 浮动 *****/
.logo,.logo img,.logo h1,.main_left,.main_right,.title h2,.con_list span.con_tit,.con_list span.linka,.con_list span.note,.con_list p,.same,.con_list .error,.radio_list,.radio_list p label,.content dl dd,.content dl dd label,.content dl dd span,.selbox,.popping_title h2,.con_list span.pop_tit,.img_icon,.status_con,.con_list p span,.block ul li,.block ul li p,.block ul li span,.print_order h2,.tag_info ul li,.tag_info ul li span,.tag_info ul li a,.imgpic,.operating,.file_com,.sel_com,.sel_com input,.img_com,.pop_infocon ul li { float:left;}
.login,.title span,.title span.btn_top,.pages,.popping_title .closed,.print_order h3 { float:right;}

/***** 网站主体 *****/
.bodymain { margin-top:10px; overflow:hidden;}
/***** 通用头部 *****/
.header { border-bottom:4px #148007 solid; padding:5px 0px; overflow:hidden; height:70;}
.logo h1 { font-size:20px; margin:30px 0 0 10px; border-left:1px #CCC solid; padding-left:10px;}
.login { margin-top:50px;}
.login b { padding:0 5px;}
.login span { padding:3px;}
/***** 登录 *****/
.logins { margin:160px auto auto auto; background:#edeeed; width:310px; padding:30px 50px; border: 1px solid #cfcfcf; border-radius: 3px 3px 3px 3px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 8.5);}
.namepsd { padding-bottom:15px;}=
.namepsd span { display:block; font-size:14px; padding-bottom:3px;}
.namepsd p {}

/********************************* 主体开始 *************************/
/***** 左侧菜单 *****/
.main_left { width:12%; margin-right:10px; border:1px #128005 solid; border-bottom:none; min-width:140px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<140?"140px":"");}
.main_left dl dt { background:#429a39; color:#fff; height:35px; line-height:35px; border-bottom:1px #128005 solid; padding-left:5px;} 
.main_left dl dd { border-bottom:1px #128005 solid; height:30px; line-height:30px; padding-left:15px; font-size:12px;}
.main_left dl dd a { color:#666;}
.main_left dl dd a:hover,.main_left dl dd.sel a { color:#429a39;}
.main_left dl dd.sel { background:#f2fcf1;}

/***** 右侧内容 *****/
.main_right { width:86.5%; min-width:958px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<958?"958px":"");}
.title { border-bottom:2px #1c8610 solid; line-height:35px; height:35px; overflow: hidden; height:1%;}
.title h2 { font-size:16px; font-weight:bold;}
.title h2 em{ font-size:14px; padding:10px 5px 0 20px; font-style:normal; background:url(../images/angle.gif) no-repeat left 10px;}
.title span { font-size:12px; color:#666; padding-right:5px; line-height:16px; padding-top:17px;}
.title span.btn_top { padding-top:0px;}
/***** 内容 *****/
.content { margin:15px 0px;}
.con_list { padding:8px 0px; display: inline-block; clear:both; line-height:28px; width:100%;}
.con_list span.con_tit { width:120px; text-align:right;}
.con_list span.linka { padding:0 10px;}
.con_list span.note { padding-right:5px;}
.con_list p span { padding:0px 3px;}
.con_list p { margin-right:8px;}
.con_list p select,.content dl dd select { height:28px; line-height:28px;}
.con_list .error { color:#f00; font-size:12px;}
.radio_list { width:85%;}
.con_list .radio_list p { width:100%; height:28px; line-height:28px;}
.radio_list p label { margin-right:10px;}
.tag_info { display:block; overflow:hidden;}
.tag_info ul li { background:#e4e4e4; line-height:25px; padding:0px 10px; margin:5px 10px 5px 0px; display: inline-block; cursor:pointer;}
.tag_info ul li span { margin-right:8px;}
/***** 图片上传 *****/
.imgpic { width:150px; height:143px; border:1px #CCC solid; text-align:center; margin-right:10px;}
.imgpic a { line-height:143px; color:#999;}
.block .sty196 { width:196px;}
.block .sty300 { width:300px;}
.block .sty500 { width:500px;}
.operating { width:80px;}
.poster { width:100%; display:block; overflow:hidden; margin-bottom:10px;}
.operating .loginbtn { margin-bottom:8px;}
.new_design { margin-bottom:10px; overflow:hidden;}
.file_com { width:198px; margin:0px 10px 10px 0px;}
.mobile { text-align:center; padding-top:8px; overflow:hidden;}

.btn_submit { border-top:1px #cdcdcd dashed; margin:15px 0px; padding:20px 0px 20px 120px;}
.btn_sub { margin:15px 0px; padding:0px 0px 20px 120px;}
.content dl.locate{ padding-right:200px; position:relative; overflow:hidden; height:1%;}
.content dl dd { padding-bottom:8px; width:280px;}
.content dl dd.sty290 { width:290px;}
.content dl dd.sty230 { width:230px;}
.content dl dd label { width:80px; text-align:right; padding-right:5px; line-height:28px;}
.content dl dd span { padding:0px 3px; line-height:28px;}
.content dl dt { position:absolute; bottom:10px; right:15px;}
/***** 列表 *****/
.list{ width:100%; margin-top:10px; line-height:30px; text-align:left; background:#fff;}
.list th { height:29px; line-height:29px; background:#e4e4e4; padding-left:10px; color:#4c4948; font-weight:normal; text-align:left; border:1px #d5dfe8 solid;}
.list tr td {padding-left:10px; word-wrap:break-word;font-size:12px; border:1px #d5dfe8 solid;}
.list tr td a { margin-right:5px;}
.list tr td.bjnone { background:#fff; line-height:40px; height:40px;}
.list .even{ background:#f8f8f8;}
.list .current{ background:#fffdc3;}
.selbox { *padding-top:10px;}
.pages { margin-right:10px; display:inline;}
.pages a { margin:0px 5px;}

.block { padding:10px; width:98%;}
.block h3 { border-bottom:1px #999 solid; margin-bottom:15px; line-height:24px;}
/*** 标签 ***/
.block ul li { background:#e4e4e4; line-height:25px; margin:5px 15px; display: inline-block;}
.block ul li p { padding:0px 8px; border-right:1px #fff solid;}
.block ul li span { padding:0px 4px; }
.block ul li span a { margin:0px 4px; font-size:12px;}
/*** 弹出层 ***/
.popping { border:3px #e4e4e4 solid; border-radius: 3px 3px 3px 3px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 8.5); padding-bottom:20px; background:#fff; position:absolute; z-index:999;}
.popping_title { height:32px; line-height:32px; border-bottom:1px #cdcdcd solid; background:#f1f1f1; text-align:left; padding-left:10px;}
.closed { float:right; padding-right:8px;}
.popping_content .con_list { padding:0px;}
.con_list span.pop_tit { width:100px; text-align:right;}
.popping_content .con_list p.sty370 { width:370px;} 
.closed a { color:#999;}
.closed a:hover { color:#f00;}
.popping_content { padding:10px;}
.pop_submit { padding:20px 0px 20px 100px;}
.pop_infocon { padding:20px 0px;}
.pop_infocon h3 { line-height:24px; font-weight: bold; text-align:center;}
.pop_infocon p { line-height:24px; padding:0px 20px;}
.pop_infocon p span { font-weight: bold;}
.pop_submit_con { text-align:center;}
.pad_none { padding:20px 0px 20px 0px;}
.status { overflow:hidden;}
.img_icon,.status_con{ margin:10px;}
.status_con { width:220px;}
.status_con p { line-height:24px; margin-top:3px;}
.pop_textarea {width:200px; height:60px; padding:5px;}
.status_con .error { color:#f00; font-size:12px; line-height:22px;}

.sel_com {margin:10px 20px 10px 0px; display: inline-block;}
.sel_com input { margin-right:5px;}
.img_com {}
.pop_infocon ul { border-bottom:1px #999 dashed; overflow:hidden; line-height:30px; height:30px;}
.pop_infocon ul li { width:25%; padding-left:30px;}
.wid33 { width:26%;}
.pad_20 { padding:0px 20px; overflow:hidden;}

.speed { padding:12px 0 0px 0px; margin-left:35px; overflow:hidden; height:1%;}
.speed dl dd { width:80px; text-align:center; font-size:12px; display:block; color:#8797a2;}
.speed dl dd.speed_select { color:#475e6d;}
.speed dl dd.speed_select p { font-size:10px; margin-top:5px; line-height:11px;color:#475e6d;}
.speed dl dd p { font-size:10px; margin-top:5px; line-height:12px; color:#8797a2;}
.no1,.no2,.no3,.no4,.no5 { background:url(../images/speed.gif) no-repeat right; width:470px; height:20px; overflow:hidden;}
.no1 { background-position:left 0px;}
.no2 { background-position:left -20px;}
.no3 { background-position:left -40px;}
.no4 { background-position:left -60px;}
.no5 { background-position:left -100px;}
/*** 打印订单 ***/
.print { border:3px #e3e6df solid; padding:30px; margin-bottom:10px;}
.print_logo { text-align:center; width:100%; border-bottom:1px #e1e1e1 solid; margin-bottom:30px; padding-bottom:10px; overflow:hidden;}
.print_logo img { display: inline-block;}
.print_order { overflow:hidden; height:1%; margin:10px 0 10px 0px;}
.print_order h2 span { font-size:20px;}
.print_order h3 p { text-align:right;}
.print_list { text-align:center; width:100%; overflow:hidden; height:1%;}
.print_list tr td { border:1px #cccccc solid; padding:3px; line-height:30px;}
.signature {  margin:30px 0 10px 0px; border-bottom:1px #e1e1e1 solid; padding-bottom:30px;}

.sty { width:15%;}
.sty1 { width:30%;}
.sty_l { text-align:left;}

.pad_n { padding:0px;}
.bot_b { border-bottom:1px #CCC dashed; padding-bottom:15px;}
.pad_l120 { padding-left:120px;}